html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

body {

    background: #000 url('space.jpg') center center no-repeat;
}

canvas#sun {

    position: absolute;
    left: 50%;
    top: 50%;
    margin: -307px 0 0 -307px;
}

#info {
    position: absolute;
    color: #fff;
    left: 5px;
    bottom: 5px;
}
